#!/usr/bin/env nextflow

params.outdir = './results'
docker.enabled = true

params {
    enable_conda            = false
    publish_dir_mode        = 'copy'
    outdir                  = "./results"
    modules {
        'paraclu_cut' {
            args            =   "-d 2 -l 200"
        }
    }
}