/*
 * ----------------------------------------------------
 *  Nextflow config file for running the basic pipeline
 * ----------------------------------------------------
 * Defines bundled input files and everything required
 * to run a full size pipeline test. Use as follows:
 *   nextflow run nf-core/cutandrun -profile test_full,<docker/singularity>
 */

params {
  config_profile_name        = 'Basic pipeline test profile'
  config_profile_description = 'Test dataset to check pipeline function'

  input   = 'https://raw.githubusercontent.com/luslab/nf-core-test-data/main/data/metadata/basic_pipeline_test.csv'
  barcode = 'https://raw.githubusercontent.com/luslab/nf-core-test-data/main/data/csv/ultraplex_barcodes_5_and_3.csv'
}