params {
    outdir = "results/"
    publish_dir_mode = "copy"
    enable_conda = false
    singularity_pull_docker_container = false
    test_data_dir = "https://raw.githubusercontent.com/luslab/nf-core-test-data/main/data/"
}

process {
  cpus = 2
  memory = 3.GB
  time = 2.h
}

if ("$PROFILE" == "singularity") {
    singularity.enabled = true
    singularity.autoMounts = true
} else if ("$PROFILE" == "conda") {
    params.enable_conda = true
} else {
    docker.enabled = true
    docker.userEmulation = true
}

// Increase time available to build Conda environment
conda { createTimeout = "120 min" }

manifest {
  nextflowVersion = '!>=21.04.0'
}