#!/usr/bin/env nextflow

params.outdir = './results'
docker.enabled = true

params {
    verbose                 = true
    enable_conda            = false
    publish_dir_mode        = 'copy'
    outdir                  = "./results"    
    modules {
        'htseq_count' {
            args = '-f bam -s no -m union'
        }
    }
}
